div.top_bar{
    width: 100vw;
    height: 10vh;
    position: relative;
    background-color: #172334;
    margin: 0;
    background: #172334;
}
div.button_box
{
    background: transparent;
    float:right;
    font-family: NanumSquareRound;
    margin: 0;
}
div.logo_box
{
    background: transparent;
    line-height : 10vh;
    font-size: 30px;
    float:left;
    font-family: NanumSquareRound;
    margin: 0;
}
button.button1
{
    height : 10vh;
    font-size:30px;
    background: transparent;
    font-family: NanumSquareRound;
    border: none;
    margin: 0;
    filter: brightness(1);
}
.button1:hover {
    filter: brightness(0.85);
}

div.homepage_box1{
    position: relative;
    text-align:center;
    font-size:40px;
    width: 100vw;
    height: 90vh;
    line-height : 20vh;
    margin: 0;
    background-color : #FFFFFF;
    align-items : center;
}
div.homepage_box2{
    padding:120px 0px 0px 0px;
    text-align:center;
    width: 100vw;
    height: 50vh;
    align-items : center;
    font-family: NanumSquareRound; 
}
/*
.background1 {
    height: 100%;
    width: 100%;
    background-image: url('IMG_Folder/homepage_img1.jpg');
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
}*/

h1{
    margin: 0;
    font-family: NanumSquareRound;
}