div.top_bar{
    width: 100vw;
    height: 10vh;
    position: relative;
    background-color: #172334;
    margin: 0;
    background: #172334;
}
div.button_box
{
    background: transparent;
    float:right;
    font-family: NanumSquareRound;
    margin: 0;
}
div.logo_box
{
    background: transparent;
    line-height : 10vh;
    font-size: 30px;
    float:left;
    font-family: NanumSquareRound;
    margin: 0;
}
button.button1
{
    height : 10vh;
    font-size:30px;
    background: transparent;
    font-family: NanumSquareRound;
    border: none;
    margin: 0;
    filter: brightness(1);
}
.button1:hover {
    filter: brightness(0.85);
}
div.homepage_box1{
    position: relative;
    text-align:center;
    font-size:50px;
    width: 100vw;
    height: 90vh;
    margin: 0;
    background-color : #FFFFFF;
    font-family: NanumSquareRound; 
    align-items : center;
}
h1{
    font-family: NanumSquareRound;
    font-size:40px;
    margin: 0;
}
h2{
    margin: 0;
    font-family: NanumSquareRound;
    font-size:50px;
    padding: 50px 0px 0px 0px;
}
p1
{
    margin: 0;
    font-family: NanumSquareRound;
    font-size:25px;
}
